h1 {
background: red;
}

.paragraph-gb {
background: blue;
color: purple;
font-size: 32pt}

.paragraph-2 {
background:grey;
border-radius:15px;
border-color: brown;
font-size:24pt;
width: 50%;
}
.div-1{
font-family: 'Courier New', Courier, monospace;
font-size: 20pt;
margin-left: 60px;
text-align: center;
}
.image-1 {
border-radius: 30px;

}
.paragraph-bb {
color: red;
font-size: 24pt;
text-align: center;
font-style: oblique;
box-shadow: 10px 5px 5px green;
border-radius: 15;
}
